// mixins
@mixin vendor-prefix($property, $argument) {
  #{$property}: $argument;
  -webkit-#{$property}: $argument;
  -moz-#{$property}: $argument;
  -ms-#{$property}: $argument;
  -o-#{$property}: $argument;
}

html { height: 100%;}
body { width: 100%; height: 100%; margin: 0;}

b { font-weight: 700; }
a { text-decoration: none; }
del { text-decoration: line-through; }
i { font-style: italic; }

ol { list-style: none; margin: auto; }

.completed { text-decoration: line-through; }
.hidden { width: 0; opacity: 0; overflow: hidden; }

#yTodoHeader, #taskArea { float: left; height : 100%; }

#yTodoHeader {
	background-image:url(../imgs/paper_fibers.png);
	min-height: 100%; min-width: 20%;
	box-shadow: 3px 0px 3px 3px #333;
	color : #333;
}
#yTodoHeader ol {
	float : right; text-align: right;
	margin-top: 7em; margin-right: 0.6em;
	font-weight: 700;
}
#yTodoHeader ol li { opacity: 0.8; cursor: pointer;}
#yTodoHeader ol li:hover { opacity: 1; }


#taskArea {
	background-image:url(../imgs/dark_wood.png);
	min-height: 100%; min-width: 80%;
	overflow: hidden;
}

/*.corkBoard {
	background-image:url(../imgs/fzm-seamless.corkboard.texture.jpg);
	border: 1px solid #333; border-radius: 2px;
	box-shadow:  2px 2px 5px 1px #333;
}*/

.outterFrame { width: 360px; overflow: hidden; }

#todoList_active {
	width: 256px; max-height: 25em;
	margin: 7em 0 0 5em; padding: 1em;
	overflow-y: auto; padding-right: 100px;
}

#todoList_active li {
	position: relative; overflow: hidden;
	background-image:url(../imgs/paper_fibers.png);
	width: 98%; margin: 6px 3px;
	box-shadow: 1px 1px 2px 1px #333;
	-webkit-backface-visibility : hidden;
	@include vendor-prefix(transition, all 300ms ease);
}
.taskBody {
	display: inline-block; padding: 0.3em 1%; width: 88%;
	background-color: khaki; opacity: 0.7;
}

.closeButton {
	display: inline-block;  width: 10%;
	text-align: center; background: #eee;  opacity: 0.7; cursor: pointer;
	&:hover { opacity: 1; }
}

#todoList_active li.newTask {

	display: inline-block; width: auto;

	.addButton {
		display: inline-block; width: 1.4em;
		text-align: center; cursor: pointer;
	}
	input {
		display: none;
		border: 0; height: 1.5em;
		&:focus { outline: none; }
	}
	.closeButton { display: none;}

	&.expandedNewTask {
		width: 98%;
		.addButton { display: none; }
		input, .closeButton { display: inline-block;}
	}
}
